<div clas='container'>
  <div class='btn-groups' style='ml:20px'>
    <form action="/" method="GET">
      <button class="btn btn-success" type="submit">/</button>
    </form>
    <form action="/new" method="GET">
      <button class="btn btn-success" type="submit">NEW</button>
    </form>
    <form action="/:id" method="GET">
      <button class="btn btn-success" type="submit">ID</button>
    </form>
    <form action="/" method="POST">
      <button class="btn btn-success" type="submit">POST</button>
    </form>
  </div>
</div>